.navBar {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
    border-width: 1.5px;
}

.logo {
    background-color: #4aaaa5;
    color:white;
    font-size: 30px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 10%;
}

.navLinkBox {
    margin-top: 20px;
    margin-right: 10%;

}

.navLink {
    color: #777777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer {
    background-color: #666666;
    border-top: solid #4aaaa5;
    border-width: 5px;
}

.footerText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: white;
}

/* adds the background wallpaper */
.background {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png");
    /* sourced above url from "inspect" of the source page */
}

.contentBox {
    background-color: #ffffff;
    border: solid #dddddd;
    border-width: 1px;
    padding: 10px 80px 20px 80px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.headings {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #777777;
}

.card-text {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.button {
    background-color: #4aaaa5;
    color: white;
    border: solid 1px #777777;
}



/* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  } */