.navBar {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
    border-width: 1.5px;
}

.logo {
    background-color: #4aaaa5;
    color:white;
    font-size: 30px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
}

.navLinkBox {
    margin-right: 100px;
    margin-top: 20px;

}

.navLink {
    text-align: center;
    color: #777777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer {
    background-color: #666666;
    border-top: solid #4aaaa5;
    border-width: 5px;
}

.footerText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    color: white;
}

